CREATE TABLE IF NOT EXISTS project_votes (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    project_id UUID REFERENCES projects(id) ON DELETE CASCADE,
    teacher_id UUID REFERENCES profiles(id) ON DELETE CASCADE,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(project_id, teacher_id)
);

ALTER TABLE project_votes ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Authenticated users can read project_votes"
ON project_votes FOR SELECT TO authenticated
USING (true);

CREATE POLICY "Teachers can insert project_votes"
ON project_votes FOR INSERT TO authenticated
WITH CHECK (EXISTS (SELECT 1 FROM profiles WHERE profiles.id = auth.uid() AND profiles.role = 'teacher'));

CREATE POLICY "Teachers can delete own project_votes"
ON project_votes FOR DELETE TO authenticated
USING (teacher_id = auth.uid());

CREATE OR REPLACE FUNCTION check_max_votes()
RETURNS TRIGGER AS $$
BEGIN
    IF (SELECT COUNT(*) FROM project_votes WHERE teacher_id = NEW.teacher_id) >= 3 THEN
        RAISE EXCEPTION 'A teacher can only vote for up to 3 projects';
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS enforce_max_votes ON project_votes;
CREATE TRIGGER enforce_max_votes
BEFORE INSERT ON project_votes
FOR EACH ROW EXECUTE FUNCTION check_max_votes();
